.main-header {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-weight: bold;
  }

  span {
    font-style: italic;
    color: #49d0b0;
  }

  a {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;

    font-size: 0.75rem;
    @media only screen and (min-width: 650px) {
      right: 20px;
      top: 30px;
      display: flex;
      position: absolute;
      font-size: 1rem;
      text-decoration: underline;
    }
  }

  .main-header__button-mobile {
    display: flex;
    font-size: 2rem;
  }
  .main-header__button-desktop {
    display: none;
  }

  @media only screen and (min-width: 650px) {
    display: flex;
    .main-header__button-desktop {
      display: flex;
    }
    .main-header__button-mobile {
      display: none;
    }
  }
}
